@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700;900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", cursive;
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.header-top {
  background-color: #0282F9;
  color: white;
  font-size: 0.7em;
  padding: 5px;
}
.header-top .container {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}
.header-top .container .header-top-links {
  display: flex;
}
.header-top .container .header-top-links .first-link {
  padding: 0 50px;
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}
.header-bottom .container .logo {
  width: 80px;
}
.header-bottom .container .logo img {
  width: 100%;
}
.header-bottom .container .list-menu {
  display: flex;
  text-transform: uppercase;
}
.header-bottom .container .list-menu li {
  margin: 0 10px;
  line-height: 100px;
}
.header-bottom .container .list-menu li.current {
  color: #0282F9;
  border-bottom: 1px solid #0282F9;
  border-bottom-width: 3px;
}
.header-bottom .container .search input::-moz-placeholder {
  text-align: right;
}
.header-bottom .container .search input::placeholder {
  text-align: right;
}
.header-bottom .container .search input {
  border-width: 0 0 2px;
  border-color: #0282F9;
}

.jumbo {
  height: 300px;
}
.jumbo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.comics {
  background-color: black;
}
.comics .container {
  position: relative;
}
.comics .container .current {
  position: absolute;
  top: -10px;
  left: 0;
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #0282F9;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
}
.comics .container .products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0;
}
.comics .container .products-list .product-card {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
  height: 165px;
}
.comics .container .products-list .product-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.comics .container .load {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 50px;
  border: none;
  color: white;
  background-color: #0282F9;
  text-transform: uppercase;
}

.services {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: #0282F9;
}
.services .services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .services-list li .service-item {
  display: flex;
  align-items: center;
}
.services .services-list li img {
  width: 30px;
  margin-right: 10px;
}
.services .services-list li .service-text {
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
}

.thumb-section {
  background-color: #0282F9;
}
.thumb-section .container-70 {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 50px;
}
.thumb-section .container-70 img {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 150px;
}

.info {
  height: 400px;
}
.info .container-70 {
  width: 70%;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
  gap: 10px;
}
.info .container-70 .title {
  text-transform: uppercase;
}
.info .container-70 .availability {
  background-color: green;
  color: white;
  display: flex;
}
.info .container-70 .availability .price {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  border-right: 1px solid black;
  padding: 20px;
}
.info .container-70 .availability .check-available {
  padding: 20px;
}
.info .container-70 .description {
  padding: 20px 0;
}

.details {
  background-color: #F6F6F6;
  padding: 100px;
}
.details .container-70 {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
.details .container-70 .col-left {
  width: 50%;
}
.details .info-title {
  border-bottom: 1px solid black;
}
.details .row {
  display: flex;
  border-bottom: 1px solid black;
  padding: 20px;
}
.details .row .row-content {
  width: 75%;
}
.details .row .row-title {
  width: 25%;
}
.details .col-right {
  width: 50%;
}

.footer-top {
  background-image: url(../img/footer-bg.jpg);
  color: gray;
}
.footer-top .container {
  position: relative;
  overflow: hidden;
}
.footer-top .container .col-left {
  display: flex;
  padding: 30px;
}
.footer-top .container .col-left .list {
  padding: 10px;
}
.footer-top .container .col-left .list .list-title {
  padding-bottom: 10px;
  color: white;
}
.footer-top .container .col-left .list .list-bottom {
  padding: 20px 0;
}
.footer-top .container .col-right {
  position: absolute;
  top: -56px;
  right: 0;
  width: 470px;
}
.footer-top .container .col-right img {
  width: 100%;
}

.footer-bottom {
  background-color: #303030;
  padding: 30px;
  text-transform: uppercase;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .container .col-left {
  border: 1px solid #0282F9;
  padding: 10px;
  color: white;
}
.footer-bottom .container .col-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .container .col-right .follow {
  font-weight: bold;
  color: #0282F9;
  padding: 10px;
}
.footer-bottom .container .col-right .footer-links {
  display: flex;
}
.footer-bottom .container .col-right .footer-links li {
  padding: 10px;
}