.header-bottom {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .8em;

        .logo {
            width: 80px;

            img {
                width: 100%;
            }
        }

        .list-menu {
            display: flex;
            text-transform: uppercase;

            li {
                margin: 0 10px;
                line-height: 100px;

                &.current {
                    color: $main-color;
                    border-bottom: 1px solid $main-color;
                    border-bottom-width: 3px;
                }

                ;
            }

        }

        .search {
            input::placeholder {
                text-align: right;
            }

            input {
                border-width: 0 0 2px;
                border-color: $main-color;
            }
        }
    }
}