header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.list-menu {
    display: flex;
    justify-content: center;

    li {
        margin: 5px;
    }
}